<h2><%= @setlist.event %></h2>
<br>
<br>
<b>Event Description: </b>
<p><%= @setlist.description %></p>
<br>
<b>Songs: </b>
<ol>
    <% @setlist.songs.each do |song| %>
       <li><%= song.title %></li>
    <% end %>
</ol>
<br>
<div class="edit-link">
<a href="/setlists/<%= @setlist.id %>/edit">Edit</a>
<a href="/setlists/<%= @setlist.id %>/delete">Delete</a>
</div>