<body>
<h2>My Profile</h2>


<b>First Name: </b>
<p><%= current_user.first_name %></p>
<br>
<b>Last Name: </b>
<p><%= current_user.last_name %></p>
<br>
<b>Username: </b>
<p><%= current_user.username %></p>
<br>

<div class="edit-link">
<a href="/users/<%= @user.id %>/edit">Edit Profile</a>
<a href="/users/<%= @user.id %>/delete">Delete Account</a>
</div>

</body>

